<div class="jumbotron">
  <p>
    <%= form_tag("/test") do %>
      <p>
        Player name: <%= tag(:input, type: "text", name: "name") %>
      </p>
      <p>
        <%= tag(:input, type: "submit", value: "New game") %>
      </p>
    <% end %>
  </p>
</div>
